{% extends "base.html.twig" %}

{% block title %}{{ '{name} - Create shareable link to a Lemmy community' | trans({
    '{name}': host | capitalize,
}) }}{% endblock %}

{% block body %}
    <div {{ stimulus_controller('generate-link', {
        linkTemplate: url('app.community', {community: '%s'}) | url_decode,
    }) }}>
        <p class="align-center">{{ "Without it being tied to any particular instance." | trans }}</p>
        <div class="button-wrapper flex">
            <input class="form-control" type="text"
                    {{ stimulus_target('generate-link', 'community') }}
                   placeholder="community_name@example.com"/>
            <button class="btn no-wrap" {{ stimulus_action('generate-link', 'createLink') }}>{{ "Create link" | trans }}</button>
        </div>
        <p class="error hidden" {{ stimulus_target('generate-link', 'error') }}>
            {{ "The community name is not valid." | trans }}
        </p>
        <div class="result hidden" {{ stimulus_target('generate-link', 'result') }}>
            <p>
                {{ "Done! Here is your link:" | trans }}
                <span {{ stimulus_target('generate-link', 'linkPlaceholder') }}></span>
            </p>
            <p>
                <button class="btn" {{ stimulus_action('generate-link', 'copyToClipboard') }}>{{ "Copy to clipboard" | trans }}</button>
            </p>
            <p class="hidden" {{ stimulus_target('generate-link', 'copyToClipboardResult') }}>
                {{ "Copied!" | trans }}
            </p>
        </div>
        <hr>
        <p>
            <a class="explanation-link"
               href="{{ path('app.explanation') }}"><small>{{ "How does it work?" | trans }}</small></a>
        </p>
    </div>
{% endblock %}
