{% extends "base.html.twig" %}

{% block title %}{{ '{name} - Create shareable link to Lemmy' | trans({
    '{name}': host | capitalize,
}) }}{% endblock %}

{% block body %}
    <div {{ stimulus_controller('generate-link', {
        linkTemplateCommunity: url('app.community', {community: '%s'}) | url_decode,
        linkTemplateUser: url('app.user', {user: '%s'}) | url_decode,
        linkTemplatePost: url('app.post', {originalInstance: '%s', postId: '%d'}) | url_decode,
        linkTemplateComment: url('app.comment', {originalInstance: '%s', commentId: '%d'}) | url_decode,
    }) }}>
        <p class="align-center">{{ "Without it being tied to any particular instance." | trans }}</p>
        <div class="button-wrapper flex">
            <input class="form-control" type="text"
                    {{ stimulus_target('generate-link', 'linkInput') }}
                   placeholder="https://example.com/c/community, https://example.com/u/user, https://example.com/post/123, https://example.com/comment/123"/>
            <button class="btn no-wrap" {{ stimulus_action('generate-link', 'createLink') }}>{{ "Create link" | trans }}</button>
        </div>
        <p>
            <small>{{ "Just paste the link in the box above." | trans }}</small>
        </p>
        <p class="error hidden" {{ stimulus_target('generate-link', 'error') }}>
            {{ "We don't support this link :/" | trans }}<br>
            {{ "If you think that's a mistake, please let us know on GitHub" | trans }}:
            <a href="https://github.com/RikudouSage/lemmyverse.link" target="_blank">https://github.com/RikudouSage/lemmyverse.link</a>
        </p>
        <div class="result hidden" {{ stimulus_target('generate-link', 'result') }}>
            <p>
                {{ "Done! Here is your link:" | trans }}
                <span {{ stimulus_target('generate-link', 'linkPlaceholder') }}></span>
            </p>
            <p>
                <button class="btn" {{ stimulus_action('generate-link', 'copyToClipboard') }}>{{ "Copy to clipboard" | trans }}</button>
            </p>
            <p class="hidden" {{ stimulus_target('generate-link', 'copyToClipboardResult') }}>
                {{ "Copied!" | trans }}
            </p>
        </div>
        <hr>
        <p>
            <a class="explanation-link"
               href="{{ path('app.explanation') }}"><small>{{ "How does it work?" | trans }}</small></a>
            <a class="explanation-link" href="{{ path('app.preferences.instance', {
                home: 1,
                redirectTo: path('app.home'),
            }) }}">
                <small>{{ "Configure instance and delay" | trans }}</small>
            </a>
        </p>
    </div>
{% endblock %}
